html, body {
    padding: 0;
    margin: 0 auto;
    background-color: #b6fdfa;
    width: 100%;
    height: 100%;
    text-align: center;
    
    
}

h1 {
    font-family: Youknowthemoviesong;
    font-size: 55px;
    color:#347D79;
    text-shadow: 2px 2px 2px rgba(52, 125, 121, 0.3);
    white-space: nowrap;
    

}

.newPage{
    background-color: black;
    position: absolute;
    z-index: -10;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 0px;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.541);
    border-bottom: 0px solid rgb(52, 125, 121);
    box-shadow: 1px 1px 5px 3px rgba(52, 125, 121, .3);
    z-index: 5;
    overflow: hidden;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;

}
/* rock */
.rock {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 1px;
    background-color: #b6fdfa;
    border-radius: 1px;
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border:  solid transparent;
}
#rock {
    width: 100px;
    height: 100px;
}

/* Paper */

.paper {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #b6fdfa;
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

#paper {
    width: 100px;
    height: 100px;
}

/* Scissors */
.scissors {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: #b6fdfa;
    box-shadow: 2px 2px 2px 2px #357e7a99;
    border: 0 solid transparent;
    border-radius: 1px;
}

#scissors {
    width: 100px;
    height: 100px;
}

/* Pseudo classes for buttons */
.rock:hover {
    background-color: rgba(36, 122, 118, .3);
}

.paper:hover {
    background-color: rgba(36, 122, 118, 0.3);
}

.scissors:hover {
    background-color: rgba(36, 122, 118, .3);
}


.rock:focus {
    
    outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);    
   
}

.paper:focus {
    outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);    
}

.scissors:focus {
    outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);    

}

/* class made for the JS counterpart "buttonClick();" */
.scissorss {
     outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);  
}

.result-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
                "header header header header"
                "yours computer";
    justify-content: center;
    height: 20%;
    
}

.results {
    grid-area: "header";
    text-align: center;
    margin-bottom: 20px;
    justify-self: center;
    grid-area: "box";
    width: 100%;
    color:  rgba(36, 122, 118, 1);
    font-size: 30px;
    grid-column: 1 / 3;
    height: 40px;

}

h3 {
    margin-bottom: 5px;
    border-bottom: 2px solid;
    color: rgba(182, 253, 250, .6);
    font-family: 'Verdana';
    
}

h4 {
    color: rgba(182, 253, 250, .6);
    font-family: 'Verdana';
    margin-bottom: 5px;

}

p {
    color:rgba(182, 253, 250, .6);
    font-family: 'Verdana';

}

.resultContainer {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: 50%, 50%;
    grid-template-rows: 50%, 50%;
    grid-template-areas: 
            "yours computer"
            "text text";
    background-color: #347d79;
    margin: 10px 10%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, .5);
    height: 250px;

}
.yourResults {
    grid-area: "yours";
    text-align: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    color:rgba(182, 253, 250, .6);
    font-size: 30px;
    margin-top: -20px;

}


.compResults {
    grid-area: "computer";
    text-align: center;
    justify-self: center;
    align-self: center;
    width: 100%;
    color:rgba(182, 253, 250, .6);
    font-size: 30px;
    margin-top: -20px;
}
/* computer buttons and display */

.comcontainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 20px;
    margin-top: 50px;
    border-radius: 8px;
    width: 100%;
    height: 120px;


}

.comGame {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 100%;
}

.computer-choice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 0px solid transparent;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    border-top: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
    background-color: transparent;
    
    
}

.comrock {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 0px;
    background-color: rgba(36, 122, 118, .3);
    border-radius: 1px;
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border:  solid transparent;
}

.compaper {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.comscissors {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

#comrockimg {

}

#compaperimg {

}

#comscissorsimg {

}

/* All styles below are added from JavaScript file "odin.js" */
.compRButtonDefault {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.compPButtonDefault {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.compSButtonDefault {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.compRButton {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: rgba(36, 122, 118, 1);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

    .compPButton {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background-color: rgba(36, 122, 118, 1);
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
    }
    .compSButton {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        background-color: rgba(36, 122, 118, 1);
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;