html, body {
    padding: 0;
    margin: 0 auto;
    background-color: #b6fdfa;
    width: 100%;
    height: 100%;
    text-align: center;
    
    
}

@media screen and (max-width: 600px) {



h1 {
    font-family: Youknowthemoviesong;
    font-size: 38px;
    color:#347D79;
    text-shadow: 2px 2px 2px rgba(52, 125, 121, 0.3);
    white-space: wrap;

}
}

@media screen and (min-width: 601px) {
    h1 {
        font-family: Youknowthemoviesong;
        font-size: 55px;
        color:#347D79;
        text-shadow: 2px 2px 2px rgba(52, 125, 121, 0.3);
        white-space: nowrap;
        
    
    }
}

button {
    margin-top: 0px;
}


.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    width: min(100%);
    height: 120px;
    background-color: rgba(255, 255, 255, 0.541);
    border-bottom: 0px solid rgb(52, 125, 121);
    box-shadow: 1px 1px 5px 3px rgba(52, 125, 121, .3);
    overflow: hidden;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}
/* rock */
.rock {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    border-radius: 1px;
    background-color: #b6fdfa;
    border-radius: 1px;
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border:  solid transparent;
}
@media screen and (max-width: 600px) {
    #rock {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 601px) {
    #rock {
        width: 120px;
        height: 120px;
    }
}


/* Paper */

.paper {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: #b6fdfa;
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: solid transparent;
    border-radius: 1px;
    
}



@media screen and (max-width: 600px) {
    #paper {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 601px) {
    #paper {
        width: 120px;
        height: 120px;
    }
}

/* Scissors */
.scissors {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: #b6fdfa;
    box-shadow: 2px 2px 2px 2px #357e7a99;
    border: solid transparent;
    border-radius: 1px;
    
}


@media screen and (max-width: 600px) {
    #scissors {
        width: 75px;
        height: 75px;
    }
}

@media screen and (min-width: 601px) {
    #scissors {
        width: 120px;
        height: 120px;
    }
}

/* Pseudo classes for buttons */
.rock:hover {
    background-color: rgba(36, 122, 118, .3);
    transform: scale(1.1);
    transition: ease-in .2s;
}

.paper:hover {
    background-color: rgba(36, 122, 118, 0.3);
    transform: scale(1.1);
    transition: ease-in .2s;
}

.scissors:hover {
    background-color: rgba(36, 122, 118, .3);
    transform: scale(1.1);
    transition: ease-in .2s;
}


.rock:focus {
    
    outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);    
   
}

.paper:focus {
    outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);    
}

.scissors:focus {
    outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);    

}

/* class made for the JS counterpart "buttonClick();" */
.scissorss {
     outline: 0;
    background-color: rgba(36, 122, 118, 1);
    border-color:rgba(36, 122, 118, 1);  
}
/*
.result-container {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
                "header header header header"
                "yours computer";
    justify-content: center;
    height: 20%;
    
}
*/


h3 {
    border-bottom: 2px solid;
    
    color: rgba(182, 253, 250, .6);
    font-family: 'Verdana';
    
}

h4 {
    color: rgba(182, 253, 250, .6);
    font-family: 'Verdana';

}

p {
    color:rgba(182, 253, 250, .6);
    font-family: 'Verdana';
    text-align: center;
    font-size: 30px;
}

.resultContainer {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 15% 30% 15% 40%;
    grid-template-areas: 
            "round round",
            "yourResults compResults",
            "userScore compScore",
            "text text";
            
    background-color: #347d79;
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
    box-shadow: 3px 3px 5px  rgba(0, 0, 0, .5);
    height: 350px;
}
@media screen and  (min-width: 601px) {
    

.round {
    grid-column: 2/4;
    grid-area: "round";
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
}
}

@media screen and (max-width: 600px) {
    
    .round {
        grid-column: 1/5;
        grid-area: "round";
        justify-content: center;
        align-content: center;
        width: 100%;
        height: 100%;
    }

}
.results {
    grid-area: "text";
    text-align: center;
    justify-content: center;
    align-content: center;
    grid-area: "box";
    color:  rgba(36, 122, 118, 1);
    font-size: 30px;
    grid-column: 1 / 5;
    width: 100%;
    height: 100%;

}

@media screen and (max-width: 600px) {
.yourResults {
    grid-area: "yourResults";
    text-align: center;
    align-self: center;
    justify-self: center;
    color:rgba(182, 253, 250, .6);
    font-size: 30px;
    grid-column: 1/3;
    width: 100%;
    height: 100%;

}
}

@media screen and (min-width: 601px) {
    .yourResults {
        grid-area: "yourResults";
        text-align: center;
        align-self: center;
        justify-self: center;
        color:rgba(182, 253, 250, .6);
        font-size: 30px;
        grid-column: 2/3;
        width: 100%;
        height: 100%;
    
    }

}

.result-container {
    width: 80%;
    margin: 10% 10%;
    

}

.userScore {
    grid-area: "userScore";
    justify-content: center;
    align-content: center;
    color:rgba(182, 253, 250, .6);
    font-family: 'Verdana';
    text-align: center;
    grid-column: 2/3;
   
    width: 100%;
    height: 100%;
}

.compScore {
    grid-area: "compScore";
    position: relative;
    justify-content: center;
    color:rgba(182, 253, 250, .6);
    font-family: 'Verdana';
    text-align: center;
    grid-column: 3/4;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 601px) {
    .compResults {
        grid-area: "compResults";
        text-align: center;
        justify-self: center;
        align-self: center;
        color:rgba(182, 253, 250, .6);
        font-size: 30px;
        grid-column: 3/4;
        width: 100%;
        height: 100%;
    }

}

@media screen and (max-width: 600px) {
    .compResults {
        grid-area: "compResults";
        text-align: center;
        justify-self: center;
        align-self: center;
        color:rgba(182, 253, 250, .6);
        font-size: 30px;
        grid-column: 3/5;
        width: 100%;
        height: 100%;
    }

}




/* computer buttons and display */

.comcontainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 8px;
    width: min(90%);
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;


}

.comGame {
    display: flex;
    justify-content: center;
    width: min(50%, 70rem);
    height: min(50%);
    
}

.computer-choice {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 0px solid transparent;
    width: 100%;
    height: 100%;
    margin-top: 0px;
    border-top: 0px;
    border-radius: 0px;
    margin-bottom: 10px;
    background-color: transparent;
    
    
}

.comrock {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    border-radius: 0px;
    background-color: rgba(36, 122, 118, .3);
    border-radius: 1px;
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border:  solid transparent;
}

.compaper {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.comscissors {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

@media screen and (max-width: 600px) {
    #comrockimg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 601px) {
    #comrockimg {
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 600px ) {
    #compaperimg {
        width: 50px;
        height: 50px;
    }
    
}

@media screen and (min-width:601px ) {
    #compaperimg {
        width: 80px;
        height: 80px;
    }
    
}

@media screen and (max-width: 600px ) {
    #comscissorsimg {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width:601px ) {
    #comscissorsimg {
        width: 80px;
        height: 80px;
    } 
}





/* All styles below are added from JavaScript file "odin.js" */
.compRButtonDefault {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.compPButtonDefault {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.compSButtonDefault {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: rgba(36, 122, 118, .3);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

.compRButton {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1fr;
    height: 100%;
    background-color: rgba(36, 122, 118, 1);
    box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
    border: 0 solid transparent;
    border-radius: 1px;
}

    .compPButton {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1fr;
        height: 100%;
        background-color: rgba(36, 122, 118, 1);
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
    }
    .compSButton {
        margin: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1fr;
        height: 100%;
        background-color: rgba(36, 122, 118, 1);
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
    }

    .yes {
        background-color: #b6fdfa;
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
        margin-right: 10px;
        margin-top: 10px;
        height: 35%;
        width: 30%;
        outline: 0;
        color:  rgba(36, 122, 118, 1);
        font-size: 20px;
        font-weight: bold;
        font-family: "Verdana";
        transition: ease-out .3s;

    }

    .yes:hover {
        background-color: rgba(36, 122, 118, 1);
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
        margin-right: 10px;
        height: 35%;
        width: 30%;
        outline: 0;
        transition: ease-in .3s;
        transform: scale(1.1);
        color:  #b6fdfa;
        font-size: 20px;
        font-weight: bold;
        font-family: "Verdana";
        
    }

    .no {
        background-color: #b6fdfa;
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
        margin-left: 10px;
        height: 35%;
        width: 30%;
        outline: 0;
        color:  rgba(36, 122, 118, 1);
        font-size: 20px;
        font-weight: bold;
        font-family: "Verdana";
        transition: ease-out .2s;
        
    }

    .no:hover {
        background-color: rgba(36, 122, 118, 1);
        box-shadow: 2px 2px 2px 2px rgba(52, 125, 121, .6);
        border: 0 solid transparent;
        border-radius: 1px;
        margin-left: 10px;
        height: 35%;
        width: 30%;
        outline: 0;
        transition: ease-out .3s;
        transform: scale(1.1);
        color: #b6fdfa;
        font-size: 20px;
        font-weight: bold;
        font-family: "Verdana";
        
    }

    

    .ask {
        
        font-family: "Verdana";
        font-size: 35px;
        margin-bottom: 20px;
        margin-top: 95px;
        
    }